extends layout
block content
 section
  div.container
    div.well
      form.form-inline(method="post", id="userMatchForm")
        div.input-group
          input.btn.btn-lg(type="text", name="username", placeholder="twitter username" required=true)
          button.btn.btn-info.btn-lg(type="submit") Find my mutt!

  div.container
    p(id="matchcontent")