html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script( src='/js/app.js' )


    body
        block content


