
h1
 - match = typeof(result) != 'undefined' ? result : { }
    !{match.username}, your match is  <a href=!{match.matcheddog.link}>!{match.matcheddog.name}</a>!
h2 similarity score: !{match.score}
<img src=!{match.matcheddog.pic} class="img-thumbnail" width="320" height="320">


section
 table.table.table-hover
    thead
     tr
      th trait
      th !{match.username}
      th !{match.matcheddog.name}
    tbody
        each trait, i in match.userprofile
              tr
                td !{trait.name}
                td !{trait.percentage}
                td !{match.matcheddog.simpleProfile[i].percentage}
 table.table.table-hover
        thead
            tr
                th dog
                th score
        tbody
            each alldog, i in match.alldogs
                tr
                    td !{alldog.dog}
                    td !{alldog.score}

